@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');


body{
background:url('../img/dest/bg-3.jpg');
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
}

#box {
	margin: auto;
	margin-top: 40px;
	margin-bottom: 55px;
	border: 8px ridge #8f8d92;
	border-radius: 15px;
	background: black;
	height: 100px;
	width: 800px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	
}
.center{
	text-align: center;
	font-family: 'Black Han Sans', sans-serif;
	color: white;
	font-size: 45px;

}
span{
	font-size: 50px;
}

.para {
	text-align: center;
	margin-left: 60px;
	margin-right: 60px
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	font-size: 16px;
}
#paragraph{
	margin-bottom: 10px;
	padding-bottom: 30px;
	color: white;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}
.card {
    
    color: red;
}
.container {
    padding: 0 16px;
    color: red;
}
.title {
    color: grey;
}
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}


.column:hover{
    
		opacity: 0.3;
	filter: alpha(opacity=30);
	}

#orange{
    color: red;
    background-color: #f36518;
}

.text{
	text-align: center;
	font-weight: 100;
	font-size: 25px;
}

.service{
	font-family: 'Black Han Sans', sans-serif;
	text-align: center;
	font-weight: 150;
	font-size: 45px;
	color: white;
	margin-top: 20px;
}

#event{
	margin-top: 20px;
}
.up{
	font-family: 'Black Han Sans', sans-serif;
	text-align: center;
	font-weight: 150;
	font-size: 45px;
	color: white;
}

.button:hover {
    background-color: red;
}

.column2 {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}
.card2 {
    box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 10);
}

.container2 {
    padding: 0 16px;
    color: white;
}

.white{
	color: white;
}
