footer {
	position: absolute;
	background-color: black;
	margin-top: 30px;
	padding-top: 10px;
	padding-left: 10px;

}

.social-networks{
	font-size: 2em;
}


footer ul.social-networks li {
	display:inline;
}

footer ul.social-networks li i {
	display:inline-block;
}

footer ul.social-networks li a {
	color: #5e5e5e;
	margin: 0 5px;
	padding-top: 20px;
}

footer ul.social-networks li a:hover {
	text-decoration:none;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

footer ul.social-networks li i.icon-bgdark {
	background:#414141;
	color: #656565;
}


footer ul.social-networks li a i.icon-instagram:hover {
	background: #ba7b3d;
	color: #fff;
}

footer ul.social-networks li a i.icon-twitter:hover {
	background: #5ad2eb;
	color: #fff;
}
footer ul.social-networks li a i.icon-facebook:hover {
	background: #3B5998;
	color: #fff;
}
footer ul.social-networks li a i.icon-pinterest:hover {
	background: #d84848;
	color: #fff;
}

.copyright {
	font-size: 20px;
	font-weight: 50;
	color: white;
}